<ion-tabs>
  <ion-tab-bar slot="bottom" color="primary">
    <ion-tab-button tab="mapa">
        <ion-icon name="ios-navigate"></ion-icon>
        <ion-label>Mapa</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="buscar">
        <ion-icon name="search"></ion-icon>
        <ion-label>Buscar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="avisos">
        <ion-icon name="notifications"></ion-icon>
        <ion-label>Avisos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="micuenta">
        <ion-icon name="contact"></ion-icon>
        <ion-label>Mi Cuenta</ion-label>
    </ion-tab-button>

</ion-tab-bar>
</ion-tabs>